﻿        <h1>Add new audio plate</h1>

        <div class="col-md-8 order-md-1">
          <h1 class="mb-3"></h1>
          <form action="<?php echo $this->basePath; ?>audio/add" method="POST" enctype="multipart/form-data">

              <div class="mb-3">
                  <label for="image">Audio label</label>
                  <input type="file" class="form-control" id="image" name="label">
              </div>


            <div class="mb-3">
              <label for="username">Album title</label>
              <div class="input-group">
                <input type="text" class="form-control" id="album_title" name="album_title" placeholder="" required>
                <div class="invalid-feedback" style="width: 100%;">required</div>
              </div>
            </div>

              <div class="mb-3">
                  <label for="username">Artist title</label>
                  <div class="input-group">
                      <input type="text" class="form-control" id="album_title" name="artist_title" placeholder="" required>
                      <div class="invalid-feedback" style="width: 100%;">required</div>
                  </div>
              </div>

              <div class="mb-3">
                  <label for="username">Year</label>
                  <div class="input-group">
                      <input type="number" class="form-control" id="album_title" name="year" placeholder="" required>
                      <div class="invalid-feedback" style="width: 100%;">required</div>
                  </div>
              </div>


              <div class="mb-3">
                  <label for="username">Cost</label>
                  <div class="input-group">
                      <input type="number"  class="form-control" id="cost" name="cost" placeholder="" required>
                      <div class="invalid-feedback" style="width: 100%;">required</div>
                  </div>
              </div>

              <div class="mb-3">
                  <label for="username">Purchase date</label>
                  <div class="input-group">
                      <input type="date" class="form-control" id="purchase_date" name="purchase_date" placeholder="" required>
                      <div class="invalid-feedback" style="width: 100%;">required</div>
                  </div>
              </div>


              <div class="mb-3">
                  <label for="username">Storage code</label>
                  <div class="input-group">
                      <input type="text" class="form-control" id="year" name="storage_code" placeholder="" required>
                      <div class="invalid-feedback" style="width: 100%;">required</div>
                  </div>
              </div>





              <button class="btn btn-primary" type="submit" name="submit_add_audio" value="Submit" >Save</button>
          </form>
        </div>

