﻿        <h1>Audio edit</h1>

        <div class="col-md-8 order-md-1">
          <h1 class="mb-3"></h1>
          <form action="<?php echo $this->basePath; ?>audio/edit" method="POST" enctype="multipart/form-data">

            <div class="mb-3">
              <label>Album title: <?php echo $audio->album_title; ?></label>
            </div>


              <div class="mb-3">
                  <label for="comments">Album title</label>
                  <textarea class="form-control" id="album_title" name="album_title" required><?php echo $audio->album_title; ?></textarea>
                  <div class="invalid-feedback">
                     required
                  </div>
              </div>

              <div class="mb-3">
                  <label for="comments">Artist title</label>
                  <textarea class="form-control" id="artist_title" name="artist_title" required><?php echo $audio->artist_title; ?></textarea>
                  <div class="invalid-feedback">
                      required
                  </div>
              </div>





              <hr class="mb-4">

            <input type="hidden" name="id" value="<?php echo $audio->id; ?>" />
            <button class="btn btn-primary" type="submit" name="submit_update_audio" value="Update" >Update audio</button>
          </form>
        </div>