﻿<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>


        <h1>Audio list</h1>

        <div class="mb-3"></div>
        <table id="audio_list1" class="table table-hover">
          <thead>
            <tr>
                <th scope="col">Label</th>

              <th scope="col">Album title</th>
              <th scope="col">Artist title</th>
              <th scope="col">Year</th>
              <th scope="col">Purchase date</th>
              <th scope="col">Cost</th>
              <th scope="col">Storage code</th>
              <th scope="col"></th>


            </tr>
          </thead>
          <tbody>
<?php foreach ($audios as $audio) { ?>
            <tr>
                <td><img src="img/<?php echo !empty($audio->label) ? $audio->label : 'placeholder.jpg'; ?>" alt="no image" /></td>

              <th scope="row"><?php echo $audio->album_title ?? ''; ?></th>
              <td><?php echo $audio->artist_title ?? ''; ?></td>
              <td><?php echo $audio->year ?? ''; ?></td>
              <td><?php echo $audio->purchase_date ?? ''; ?></td>
              <td><?php echo $audio->cost ?? ''; ?></td>
              <td><?php echo $audio->storage_code ?? ''; ?></td>


              <td>

                  <a href="<?php echo $this->basePath; ?>audio/edit/<?php echo $audio->id; ?>">Edit</a>

              <a href="<?php echo $this->basePath; ?>audio/remove/<?php echo $audio->id; ?>">Remove</a>

                  </td>

            </tr>
<?php } ?>
          </tbody>
        </table>
        <div class="mb-3"></div>

        <script>



            $(document).ready(function() {
                var table = $('#audio_list1').DataTable({
                });

             

            });


        </script>


