<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><?php echo $this->config['project_name']; ?></title>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>css/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>css/dataTables.bootstrap4.min.css"/>
<?php if (isset($view) && $view == 'audio/add') { ?>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->basePath; ?>css/audio-add.css"/>
<?php } ?>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
      <div class="collapse navbar-collapse" id="navbarsExample07">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item">
         <a class="nav-link" href="<?php echo $this->basePath; ?>">Audio list</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="<?php echo $this->basePath; ?>audio/add">Add new audio</a>
        </li>
       </ul>

      </div>
     </div>
    </nav>

    <div class="container">
      <div class="starter-template">
